<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="erobo5">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import erobo5 urdf file -->
    <xacro:include filename="$(find erob_description)/urdf/erobo5/erobo5.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="erobo5.ros2_control.xacro" />


    <xacro:erobo5_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
