<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="erobo10">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import erobo10 urdf file -->
    <xacro:include filename="$(find erob_description)/urdf/erobo10/erobo10.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="erobo10.ros2_control.xacro" />


    <xacro:erobo10_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
